html, body {
    background-color: #f1f1f1;
    margin: 0px;
}

#new-game-btn {
    background-color: black;
    padding: 12px 18px;
    color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    text-transform: uppercase;
    font-weight: 800;
    border: none;
}

#new-game-btn:hover {
    cursor: pointer;
    background-color: rgb(65, 63, 63);
}